extends ../common/index

block head

block content
    .header-dashboard
        a(href='/account')
            .header-image
                img(src='/images/logo.png', alt='')
        .infos-header-title
            h1 Detalhes 
    block inner
        .app-content
            .app-container-dashboard
                div
                    p.subtitle Para visualizar os dados desta e de outras paginas, com outros recursos, aguardo o contato para trabalho!
                    p.subtitle +55 11 984190393/ richard.h.passos@hotmail.com