extends ../common/index

block head

block content
    .header-dashboard
        .header-image
            img(src='/images/logo.png', alt='')
        .infos-header-title
            h1 Meu App
    block inner
        .app-content
            .app-container-dashboard
                div
                    p.subtitle Selecione o que deseja acessar.  
                    ul.items-list
                        li.items-documents
                            a.item-menu(href='/account')
                                span
                                    img(src='/images/accounts.png', alt='')
                                p Usuários
                        li.items-documents
                            a.item-menu(href='https://www.linkedin.com/in/richard-henrique-451a8979/')
                                span
                                    img(src='/images/linkedin.png', alt='')
                                p Meu Linkedin